/* Curseur par défaut */
* {
    cursor: url(cursor/normal_select.cur), default;
}
input[type="checkbox"],button {
    cursor: url(cursor/alternate_select.cur), text;
}

/* Curseur pour le texte sélectionné */
input, textarea, .text-select {
    cursor: url(cursor/text_select.cur), text;
}


/* Curseur pour les liens */
a, kbd {
    cursor: url(cursor/link_select.cur), pointer;
}
